body {

}

#mensageiros {
    width: 100%;
}

.Principal {
    background: #FB7667
}

h1 {
    text-align: center
}

p{
    text-align: center;  
}

#missao {
    font-size: 20px
}

em strong {
    color: #72160C;
}

.itens {
    font-style: italic;
}

.Harbingers {
    background:#523934;
    padding: 30px;
}

h2 {
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 5%;
    padding-top: 10%;
}

.ordem {
    width: 20%;
    height: 20%;
    padding-right: 50%;
}