body {
    
}

header {
    background: #101f2e;
}

/*NAVEGAÇÃO ENTRE PAGINAS*/
.navegação {
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

nav {
    position: absolute;
    top: 53px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold; 
    font-size: 22px;
    text-decoration: none;    
 }

nav a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
}

/*PRODUTOS*/

.verme {
    background: url(FundoVinho.jpg);
}

.jobo {
    width:225px ;
    height:225px ;
}

.Arrumar {
    height: 180px;
    width: 180px;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 20px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    background: #101f2e;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px 30px;
    box-sizing: border-box;
    border-color: #101f2e;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 20px;
}

.produtos li:hover {
    border-color: #ff0000;
}

.produtos li:active {
    border-color: aqua;
}

.produtos li:hover h2 {
    font-size: 34;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    color: white;
    margin: 10px 0 0;
}

.produto-descricao {
    font-size: 18px;
    color: white;
}

footer {
    text-align: center;
    color: white;
    background:url("FundoCinza.jpg")
}

.porra {
    width: 940px;
    margin: 0 auto;
}

form { 
    margin: 40px 0;
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: #581515;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s background;
    cursor: pointer;
}

.enviar:hover {
    background: #cc2424
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #581515;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 8px 15px;
}

.mensageiros {
    width: 100%;
}

.titulo {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.ordem {
    width: 60%;
}